package {{ .PackageName }}

import (
    "context"
    "yourproject/api/models"
)

// Service - заглушка реализации сервиса
type Service struct{}

{{ range .Endpoints }}
    // {{ .Name }} - заглушка метода
    func (s *Service) {{ .Name }}(ctx context.Context, req *api.{{ .Name | ToTitle}}Request) (*api.{{ .Name | ToTitle }}Response, error) {
        // TODO: реализовать логику
        return &api.{{ .Name | ToTitle}}Response{
            {{- range $field, $type := .Response }}
            {{ $field | ToTitle }}: {{ if eq $type "string" }}""{{ else }}0{{ end }}, // TODO: заменить на реальные данные
            {{- end }}
        }, nil
    }
{{ end }}
